
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Temporarily allow public read and write access to the 'lists' collection.
    match /lists/{listId} {
      allow read, write: if true;
    }
  }
}
